.category-carousel-wrap{
    margin-bottom: 35px;
    .carousel-image{
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
    .left-cover-img{
        object-position: left;
    }
    .carousel-description{
        align-items: center;
        display: flex;
        .carousel-desc-container{
            box-shadow: 25px 25px 13px 0 rgb(0 0 0 / 19%);
            padding: 6rem;
            h3{
                font-family: fantasy;
                font-size: 3rem;
            }
            p{
                text-transform: capitalize;
            }
        }
    }
    
    .carousel-indicators{
        bottom: -65px;
    }
    .carousel-indicators [data-bs-target]{
        background-color: gray;
        height: 13px;
        width: 13px;
        margin-right: 12px;
    }
    .carousel-indicators > button {
        border-radius: 50%;
      }
}